html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 18px;
	line-height: 1.4;
	color: #444;
 }

body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto;/*sticky footer*/
}
button{
	cursor: pointer;
}
.container{
	max-width: 1300px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
a,
button{
	transition: all .4s ease-in;
}
a:hover,
button:hover{
	transition: all .4s ease-in;
}
.title{
	margin-bottom: 55px;
	font-size: 37px;
	text-align: center;
}
.btn{
	display: block;
	height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: #0475D2;
    border-radius: 5px;
    text-align: center;
	border: none;
}
.btn:hover{
	background-color: #2d9efa;
}
