.heading-block {
    padding-top: 120px;
    display: flex;
    gap: 40px;
    align-items: center;
}
.heading-block__content {
    width: 50%;
}
.heading-block__content-title {
    margin-bottom: 30px;
    font-size: 57px;
    font-weight: 600;
    line-height: 1.2;
}
.heading-block__contrnt-text {
    margin-bottom: 40px;
    font-size: 20px;
}
.heading-block__info {
    display: flex;
    gap: 20px;
}
.heading-block__info-btn {
    background-color: #0c5adb;
}
.heading-block__info-link,
.heading-block__info-btn {
    padding: 0 15px;
    font-weight: 700;
}
.heading-block__img {
    width: 50%;
}
.heading-block__img img{
    width: 100%;
}
.header-line{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: url('../images/home/heading-line.png');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: -1;
}
.header-right{
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../images/home/heading-krug.png');
    height: 600px;
    width: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    z-index: -1;
}
.serviceshome {
    padding: 110px 0;
}
.serviceshome-block {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.serviceshome-block__item {
    position: relative;
    width: calc(100% / 3 - 27px);
    padding: 120px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 5px 11px rgba(0 ,0 ,0, .3);
    background-size: cover;
}
.serviceshome-block__item::after{
    position: absolute;
    content: '';
    top: 25px;
    left: 40px;
    width: 70px;
    height: 70px;  
    border-radius: 48% 52% 41% 59% / 52% 49% 51% 48%;
    // background: linear-gradient(30deg, #3f1399 20%, #0c5adb 80%);
    background-color: #0c5adb;
    background-repeat: no-repeat;
    background-position: center;
}
.serviceshome-block__item:nth-child(1)::after{
    background-image: url('../images/home/dream-2.svg');
}
.serviceshome-block__item:nth-child(2)::after{
    background-image: url('../images/home/dream-3.svg');
}
.serviceshome-block__item:nth-child(3)::after{
    background-image: url('../images/home/dream-4.svg');
}
.serviceshome-block__item:nth-child(4)::after{
    background-image: url('../images/home/dream-5.svg');
}
.serviceshome-block__item:nth-child(5)::after{
    background-image: url('../images/home/dream-6.svg');
}
.serviceshome-block__item:nth-child(6)::after{
    background-image: url('../images/home/dream-1.svg');
}
.serviceshome-block__item-title {
    margin-bottom: 20px;
    font-size: 23px;
    line-height: 1.2;
}
.serviceshome-block__list-item{
    margin-bottom: 10px;
}
.serviceshome-block__list-item:last-child{
    margin-bottom: 20px;
}
.serviceshome-block__list-item:hover{
    color: #0c5adb;
}
.serviceshome-block__item-price{
    margin-top: auto;
    font-size: 25px;
    font-weight: 700;
}

// homeinfluences
.homeinfluences{
    padding: 110px 0;
}
.homeinfluences-block__list {
    counter-reset: num;
}
.homeinfluences-block__list-item {
    margin: 30px 0 0 68px;
    position: relative;
}
.homeinfluences-block__list-item span{
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;

}
.homeinfluences-block__list-item::before{
    position: absolute;
    content: counter(num);
    counter-increment: num;
    width: 45px;
    height: 45px;
    border: 1px solid #0c5adb;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    border-radius: 50%;
    left: -61px;
    font-size: 18px;
    font-weight: 500;
    top: 0px;
}


// stages
.stages {
    padding: 110px 0;
    background: url('../images/home/stages-bg.jpg') no-repeat;
    background-size: cover;
    color: #fff;
}
.stages-block {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.stages-block__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3 - 27px);
}
.stages-block__item-title {
    margin-bottom: 20px;
    position: relative;
    padding: 10px;
    width: 190px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    background: #fff;
    color: #444;
}
.stages-block__item-title p{
    text-align: center;
    font-weight: 600;
}
.stages-block__item-title span{
    position: absolute;
    height: 55px;
    width: 55px;
    line-height: 53px;
    border-radius: 50%;
    background-color: #0475D2;
    border: 2px solid #fff;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.stages-block__item:nth-child(odd) .stages-block__item-title span{
    bottom: auto;
    top: 15px;
    right: -15px;
}
.stages-block__item:nth-child(even) .stages-block__item-title span{
    bottom: 15px;
    right: -5px;
}
.stages-block__item-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}



// advantages
.advantages{
    padding: 110px 0;
    background: #F5F7FA;
    background-image: url('../images/home/advantages-bg.png');
    background-size: 40%, contain;
    background-repeat: no-repeat;
    background-position: center left;
}
.advantages-block {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.advantages-block__item {
    position: relative;
    padding: 50px 50px 50px 0;
    width: calc(100% / 2 - 20px);
    background-size: 17%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.6);
    background-position: 20px 30px;
    box-shadow: 0px 25px 70px 0px #00000012;
    z-index: 1;
    border-radius: 10px;
    transition: all .4s ease-in;
}
.advantages-block__item:nth-child(1){
   background-image: url('../images/home/advantages-3.png');
}
.advantages-block__item:nth-child(2){
   background-image: url('../images/home/advantages-1.png');
}
.advantages-block__item:nth-child(3){
   background-image: url('../images/home/advantages-2.png');
}
.advantages-block__item:nth-child(4){
   background-image: url('../images/home/advantages-4.png');
}
.advantages-block__item:nth-child(5){
   background-image: url('../images/home/advantages-5.png');
}
.advantages-block__item:nth-child(6){
   background-image: url('../images/home/advantages-6.png');
}
.advantages-block__item:hover{
    background-color: #3f1399;
    color: #fff;
    transition: all .4s ease-in;
}
.advantages-block__item-title {
    margin: 0 0 20px 170px;
    font-size: 18px;
    font-weight: 600;
}
.advantages-block__item-text {
     margin-left: 170px;
}


// homeguarantees
.homeguarantees {
    padding: 110px 0;
}
.homeguarantees-block {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.homeguarantees-block__item {
    width: calc(100% / 3 - 30px);
    padding: 40px;
    height: 320px;
    background-color:  #F5F7FA;
    text-align: center;
    perspective: 1000px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease-in;
}
.homeguarantees-block__wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s; /* Плавный переход */
    transform-style: preserve-3d;
}
.homeguarantees-block__content,
.homeguarantees-block__flip {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Скрывает заднюю часть при повороте */
}
.homeguarantees-block__content-img img{
    width: 100px;
    margin: 0 auto 20px auto;
}
.homeguarantees-block__content-title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
}
.homeguarantees-block__content-further {
    font-weight: 500;
    color: #0475D2;
}
.homeguarantees-block__flip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0475D2;
    border-radius: 8px;
    transform: rotateY(180deg); /* Обратная сторона повернута */
}
.homeguarantees-block__flip-text {
    padding: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.homeguarantees-block__item:hover .homeguarantees-block__wrapper{
    transform: rotateY(180deg);
}
.homeguarantees-block__item:hover{
    padding: 0;
    transition: all .3s ease-in;
}


// homewhy
.homewhy{
    padding: 110px 0;
    background-color:  #F5F7FA;
}
.homewhy-block__list-item {
    position: relative;
    margin: 0px 0 25px 40px;
}
.homewhy-block__list-item span{
    margin-bottom: 5px;
    display: block;
    font-size: 18px;
    font-weight: 600;
}
.homewhy-block__list-item::before{
    position: absolute;
    content: url('../images/corporate/Check.svg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    line-height: 10px;
    border-radius: 50%;
    background-color: #0c5adb;
    top: 1px;
    left: -40px;
}


.saving{
    padding: 110px 0;
    background-image: url('../images/home/econom-bg.png');
    background-size: 100%, contain;
    background-repeat: no-repeat;
    background-position-y: 250px;
}
.saving-block {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.saving-block__item {
    padding: 20px;
    width: calc(100% / 3 - 30px);
    text-align: center;
    background-color: #0475D2;
    color: #fff;
    border-radius: 8px;
}
.saving-block__item-img img{
    width: 100px;
    margin: 0 auto 20px auto;
}
.saving-block__item-title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
}





.home-text {
    padding: 110px 0;
}
.home-text__info p{
    margin-bottom: 20px;
}
.home-text__info p span{
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}


// questions
.questions{
    padding: 110px 0;
    background-color: #F5F7FA;
}
.questions__wrapper {
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: #fff;
}
.questions-accardion__btn {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questions-accardion__title {
    margin-right: 5px;
    font-size: 22px;
    font-weight: 500;
}
.questions-accardion__circle {
    position: relative;
    min-width: 22px;
}
.questions-accardion__circle::before{
    position: absolute;
    content: '';
    width: 22px;
    height: 3px;
    top: 0;
    right: 0;
    background-color: #0475D2;
}
.questions-accardion__circle::after{
    position: absolute;
    content: '';
    width: 3px;
    height: 22px;
    top: -9px;
    right: 9px;
    background-color: #0475D2;
}
.questions-accardion__content {
    padding: 0px 15px 15px 25px;
    display: none;
}
.questions-accardion__btn.open .questions-accardion__circle::after{
    display: none;
}
.questions-accardion__btn.open .questions-accardion__circle::before{
    background-color: #00a1f0;
}

// 