.nav-icon{
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
    border-radius: 50%;
    z-index: 8;
}
.nav-icon__middle{
    position: relative;
    width: 30px;
    height: 2.5px;
    background-color: #fff;
}
.nav-icon__middle::before,
.nav-icon__middle::after{
    position: absolute;
    content: '';
    width: 30px;
    height: 2.5px;
    background-color: #fff;
}
.nav-icon__middle::before{
    top: 8px;
    transition: all .2s ease-in;
}
.nav-icon__middle::after{
    bottom: 8px;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle{
    background-color: transparent;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle::before{
    transform: rotate(45deg);
    top: 0;
    transition: all .2s ease-in;
    background-color: #444;
   
}
.nav-icon.nav-icon--active .nav-icon__middle::after{
    transform: rotate(-45deg);
    bottom: 0;
    transition: all .2s ease-in;
    background-color: #444; 
}




@media(max-width: 1100px){
    .header-top__logo{
        width: 200px;
    }
}

@media(max-width: 968px){
    .header{
        height: 100%;
        display: flex;
        flex-direction: column;
        order: -1;
    }
    .nav-icon{
        position: relative;
        display: block;
        z-index: 5;   
    }
    .menu{
        position: fixed;
        width: 100%;
        // height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        // background: rgb(220, 220, 220);
        background-color: #f6f6f6;
        right: 0;
        top: 0;
        z-index: 3;
        border-radius: 0px;
        transform: translateX(-200%);
        transition: all .5s ease-in;
    }
    .menu ul.sub-menu{
        display: none;
    }
    .menu,
    .menu ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 0;
    }
    .menu li a{
        display: inline-block;
        margin-bottom: 10px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #444;
        text-align: left;
    }
    .sub-menu li a{
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 16px;
    }
    .menu li{
        width: 100%;
        margin-bottom: 20px;
    }
    ul.menu.nav--active{
        transform: translateX(0%);
        transition: all .5s ease-in;
        padding: 70px 0 0 20px;
        gap: 0;
    }
    .header-top__burger{
        display: none;
    }
    .heading-block__content-title{
        font-size: 45px;
    }
    .menu li:nth-child(1)::after,
    .menu li:nth-child(2)::after,
    .menu li:nth-child(3)::after{
        right: 20px;
        border-bottom: 2px solid #444;
        border-right: 2px solid #444;
    }
    ul.sub-menu{
        width: 95%;
        padding-left: 20px;
        padding-bottom: 0;
        z-index: 1;
    }
    .heading-block__info,
    .heading-block{
        flex-direction: column;
    }
    .heading-block__content{
        width: 100%;
    }
    .heading-block__info-btn,
    .heading-block__info-link{
        width: 300px;
    }
}

@media(max-width: 550px){
    .btn{
        height: 45px;
        line-height: 45px;
    }
    .heading-block__content-title{
        font-size: 27px;
    }
    .heading-block__contrnt-text{
        font-size: 18px;
    }
    .heading-block__info-btn,
    .heading-block__info-link{
        width: 100%;
    }
    .heading-block__img{
        width: 100%;
    }
    .heading-block{
        padding-top: 90px;
    }
}