@import 'vars';
@import 'fonts';
@import 'normalize';
@import 'reset';
@import 'libs';
@import 'header';
@import 'footer';
@import 'slider';
@import 'home';
@import 'shop';
@import 'corporate';
@import 'vizitka';
@import 'contact';
@import 'global';
@import 'media';
@import 'menu-mobile';


